header {
background-color:black ;
padding: 50px 30px;
text-align: center;
}


.Titulo {
  font-family: 'Righteous', cursive;
  color: rgb(21, 128, 222);
  font-size: 50px;
}

.subtitulo {
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  
}